extends layout

block content
   
   div.section 
    
      h3.title  mean stack learning 
      
      ul 
        li learn node.js and express
        li is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since 
          the 1500s
        li get familiar with ajax requests  
      btn.add-more-item  +
      
   div.section.add-new-section
   
     h3.add-new-section-title add new section +
