extends layout

block content
   
   div.section 
    
      h3.title  mean stack learning 
      
      ul 
        li learn node.js and express
          hr
          btn.view-more +

      btn.add-more-item  +
      
   div.section.add-new-section
   
     h3.add-new-section-title add new section +
